<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" >Home</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" ng-if="getCurrentUserRole() == 'customer'">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="vm.articles()">Articles</a></li>
                        <li><a href="" ng-click="vm.billsHistory()">Shopping History</a></li>
                    </ul>
                </li>

                <li class="dropdown" ng-if="getCurrentUserRole() == 'seller'">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="vm.bills()">Bills</a></li>
                        <li><a href="" ng-click="vm.articles_new()">Add Article</a></li>
                        <li><a href="" ng-click="vm.orders()">Supplies</a></li>
                    </ul>
                </li>

                <li class="dropdown" ng-if="getCurrentUserRole() == 'manager'">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="" ng-click="vm.userCategory()">User Category</a></li>
                        <li><a href="" ng-click="vm.articleCategory()">Article Category</a></li>
                    </ul>
                </li>


                <li><a href="" ng-if="isLoggedIn()" ng-click="vm.account()">Account</a></li>

                <li><a href="" ng-if="!isLoggedIn()" ng-click="vm.login()">Login</a></li>
                <li><a href="" ng-if="!isLoggedIn()" ng-click="vm.registration()">Registration</a></li>
                <li><a href="" ng-if="isLoggedIn()" ng-click="logout()"> Logout</a></li>

            </ul>
        </div>
    </div>
</nav>