
<div class="container">
    <div class="col-lg-12">
        <div class="well well-sm"> Filter articles by: &nbsp; &nbsp;
            <strong>title:</strong>
            <div class="btn-group">
                <span> <input type="text" ng-model="article.title"></span>
            </div> &nbsp;
            <strong>category:</strong>
            <div class="btn-group">
                <span> <input type="text" ng-model="article.category.title"></span>
            </div> &nbsp;
        </div>

        <div ng-repeat="article in articles | filter:article ">
            <div data-view="list-view" class="download-cards">
                <article class="download-card">
                    <div class="download-card__icon-box"><img src="https://s28.postimg.org/yxng1jpgd/settings_1.png" /></div>
                    <div class="download-card__content-box">
                        <div class="content">
                            <h2 class="download-card__content-box__catagory">category: {{article.category.title}}</h2>
                            <h3 class="download-card__content-box__title"> Title: {{article.title}}</h3>
                            <!--<h5>version:  </h5>-->
                            <p class="download-card__content-box__description">Price: {{article.price}} $</p>
                            <a href="" class="btn btn-info" ng-click="details(snippet)"><i class="fa fa-share"></i> Buy</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

